.drag{
  display: grid;
  place-items: center;
  width: 140px;
  height: 120px;
  border-radius: 10px;
  touch-action: none;
  user-select: none;
  margin: 10px
}
 
.drag {
  background: skyblue;
}

.drop2,
.drop {
    display: grid;
    place-items: center;
    width: 800px;
    height: 300px;
    border-radius: 10px;
    touch-action: none;
    user-select: none;
    margin: 10px
  }
 
.drop {
    background: palegreen;
}

.drop2 {
    background: pink;
}
 
.drag.active {
  background: navy;
  color: white;
}